/*estilo pagina index*/

<<<<<<< js
=======
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:  rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
  }
>>>>>>> local
.center
{
text-align: center;
}
.container {
display: flex;
flex-direction:row;
justify-content: center;
align-items: right;
}
        
.text {
flex: 1;
padding-right: 20px;
}
.video {
flex: 1;
padding-right: 20px;

}
@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .texto, .video {
      padding: 0;
    }
  }
.video-container {
   
        position: relative;
        padding-bottom: 56.25%; /* proporção 16:9 */
        height: 0;
        max-width: 100%;
      
}
      .video-wrapper video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
.wh{
    Width: 450px;
    height: 350px;
}
#menu li{
display: inline;
padding: 30px;    
}

#menu li a{
text-decoration:none;
color:rgb(250, 249, 249);
font-size: 30px;

}

#menu li a:hover{
color:rgb(237, 245, 4);

}

.tm-social{
width: 30px;
height: 30px;
}
.p-30{
 padding: 30px;   
}

.h1 {
color:#ffff00;
}
.texto{
color:ivory;

}
 

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    
   
    }